*{
    margin: 5vh;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: 'The Nautigal', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    z-index: 2;
}

.shape {
    width: 15rem;
    height: 15rem;
    background-color: bisque;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.card {
    /* border: 1px solid black; */
    min-height: 80vh;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 40px pink;
}